/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
/app/Python/client_secret_14307211999-vurtkfuucll8f80a1vu377dvr3j8askm.apps.googleusercontent.com.json
/app/Python/client_secrets.json
/app/Python/error.txt