body{
    
    width:90%;
    height:auto;
    background-attachment:fixed;
    margin-left: auto;
    margin-right: auto;
}

.inner{
    text-align: center;
}

h1{
    background-color: darkorange;
    border:solid 1px black;
    color:white;

}

h3{
    /* background: linear-gradient(90deg, #F0F8FF, rgba(255, 255, 255, 0)); */
    padding-left: 10px;
    margin-left:20px;
  /*   height:40px;
line-height: 40px;
border-left: 5px solid;
border-color:#4682B4; */
font-family:"游ゴシック";
}

h2{
    padding-left:100px;
    /* background: linear-gradient(90deg, #8EB8FF, rgba(255, 255, 255, 0)); */
box-sizing: content-box;
height:120px;
line-height: 120px;
/* border-bottom: 5px solid; */
/* border-color:#005FFF; */
font-family:"游ゴシック";
font-size:30px;
}

.testStart{
    background-color: #A16EFF;
    color:white;
    display: inline-block;
    padding: 16px 40px; /* 上下の余白、左右の余白 */
    text-decoration: none; /* デフォルトで入るリンクの下線を消す */
    border-radius: 30px; /* 角を丸くする */
    font-size:20px;
}

.message {
    padding-left: 25px;
    padding-right:25px;
background-color:white;
font-family:"游ゴシック";

}

.reserch{
    background-color:#607dbb;
    margin-left:25px;
    margin-right:25px;
    /* color:white; */
    border-left: 5px solid;
    border-right : 5px solid;
    border-radius: 30px;
    color:white;

border-color:#4c6cad;
}

header{ 
    background-image:url("../image/ヘッダー案8.png");
    background-size: cover;
    width: 1000px;
    height:150px;
    object-fit: cover;
    background-position: center;

text-align:center;
    font-size:30px;
    text-align: center;
    vertical-align: middle;
    background-color: chocolate;
    color: #fff;
    border-bottom: 5px solid;
border-color:white;
font-family:"MS Mincho";
}

.headerback{
    
    background-image:url("../image/写真4透過.png");
    background-size: cover;
    object-fit:cover;
}


.line1{
    border:none;
     height:1px;
     background-color: black;
}

footer{
    /* width: 100%;
    height: 300px; */
    background-color:#6495ED;
    color: #fff;
    padding-top: 5px;
    padding-left: 50px;
    padding-right: 30px;
    font-family:"游ゴシック";
}

.footer-text{
    color:#fff;
}

.image1{
width:80%;
}

.image2{
    width:800px;
    }

    .image3{
        width:350px;
    }

.Sannkou{
    border:solid 5px skyblue;
    background-color:white;
font-family:"游ゴシック";
}